[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
speechrecognition = "*"
pynput = "*"
pyaudio-0-2-11-cp38-cp38m-win-amd64-whl = "*"

[requires]
python_version = "3.8"
